<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamjavatar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="com.example.teamjavatar.application.UserApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.example.teamjavatar.application.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.LoginControlsActivity"
            android:label="@string/title_activity_login_controls"
            android:parentActivityName="com.example.teamjavatar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.teamjavatar" />
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.RegisterControlsActivity"
            android:label="@string/title_activity_register_controls" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.UserIndexActivity"
            android:label="@string/title_activity_user_index" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.AddAccountActivity"
            android:label="@string/title_activity_add_account" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.AccountHistoryActivity"
            android:label="@string/title_activity_account_history" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.WithdrawalActivity"
            android:label="@string/title_activity_withdrawal" >
        </activity>
         <activity
            android:name="com.example.teamjavatar.application.RollbackActivity"
            android:label="Rollback" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.DepositActivity"
            android:label="@string/title_activity_deposit" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.TransactionManagementActivity"
            android:label="@string/title_activity_transaction_management" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.SpendingCategoryReportActivity"
            android:label="@string/title_activity_spending_category_report" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.SelectSpendingCategoryDateActivity"
            android:label="@string/title_activity_select_spending_category_date" >
        </activity>
        <activity
            android:name="com.example.teamjavatar.application.ReportDisplayActivity"
            android:label="@string/title_activity_report_display" >
        </activity>
    </application>

</manifest>
